<html>
<body>
    <div class="login">
       <h1>Loan Application Form</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
            <legend>Loan Application</legend>

            <div class="mb-3">
                <label class="form-label">Loan ID</label>
                <input type="text" class="form-control" name="LoanID" placeholder="Enter Loan ID" required>
            </div>
            

            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control" name="Gender" required>
                    <option value="" selected disabled>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Married</label>
                <select class="form-control" name="Married" required>
                    <option value="" selected disabled>Marital Status</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label">Dependents</label>
                <input class="form-control" type="number" name="Dependents" min="0" placeholder="Number of Dependents">
            </div> -->

            <div class="mb-3">
                <label class="form-label">Education</label>
                <select class="form-control" name="Education" required>
                    <option value="" selected disabled>Select option</option>
                    <option value="Graduate">Graduate</option>
                    <option value="Not Graduate">not Graduate</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Self Employed</label>
                <select class="form-control" name="Self_Employed" required>
                    <option value="" selected disabled>Employment Type</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Applicant Income (₹)</label>
                <input class="form-control" type="number" name="ApplicantIncome" min="0" required placeholder="Enter your annual income">
            </div>

            <div class="mb-3">
                <label class="form-label">Coapplicant Income (₹) (Optional)</label>
                <input class="form-control" type="number" name="CoapplicantIncome" min="0" placeholder="Enter co-applicant income (if applicable)">
            </div>

            <div class="mb-3">
                <label class="form-label">Loan Amount (₹)</label>
                <input class="form-control" type="number" name="LoanAmount" min="0" required placeholder="Enter loan amount">
            </div>

            <div class="mb-3">
                <label class="form-label">Loan Term (months)</label>
                <input class="form-control" type="number" name="Loan_Amount_Term" min="1" required placeholder="Enter loan term in months">
            </div>

            <div class="mb-3">
                <label class="form-label">Credit History (Select best option)</label>
                <select class="form-control" name="Credit_History" required>
                    <option value="" selected disabled>Select Credit History</option>
                    <option value="1">exsists</option>
                    <option value="0">N.A</option>

                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Property Area</label>
                <select class="form-control" name="Area" required>
                    <option value="" selected disabled>Select area</option>
                    <option value="Urban">urban</option>
                    <option value="Semiurban">semi</option>
                    <option value="Rural">rural</option>
                </select>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Submit Loan Application">
            </div>
        </form>
    </div>
    <h2>
        THE  prediction is {{renuka}}
    </h2>
    <body>
</html>


